<!-- templates/users.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Users List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
  <div class="dashboard-container">
    <div class="dashboard-box">
      <h1 class="dashboard-title">[-] Users List [*]</h1>
      <table class="log-table">
        <thead>
          <tr>
            <th>Username</th><th>IP Address</th><th>Role</th><th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for u in users %}
          <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.ip }}</td>
            <td>{{ u.role }}</td>
            <td>
              <a href="{{ url_for('edit_user', id=u.id) }}">
                <button class="menu-button">Edit</button>
              </a>
              <a href="{{ url_for('delete_user', id=u.id) }}">
                <button class="menu-button">Del</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{{ url_for('dashboard') }}">
        <button class="menu-button">[<] Back</button>
      </a>
    </div>
  </div>
</body>
</html>
